
html,body
{
	margin:0;
	padding:0;
}

body 
{
  margin: 30px;
  font-family: courier;
  background-color: #F0F8FF; 
  color: #808080;
}

section
{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #E6E6FA;
    display: block;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 80px;
    padding-top: 5px;
    padding-bottom: 8px;
}


h1, h2, h3, h4
{		
	color: #808080;
	text-align: center;
}

figure 
{
    text-align: center;
	
}
header img
{
    float: center;
    margin-right: 0;
    margin-top: 0;
}
figcaption 
{
	font-style: italic;
	text-align: center;
}
article 
{
	text-align: center;
}
footer 
{
	text-align: center;
}
th, td 
{
	border: 1px solid black;
}
th 
{
	font-weight: bold;
	font-size: 30px;
}
td 
{
	font-size: 20px;
}
table 
{
	border: 3px solid black;
	margin: auto;
	width: 70%;
}
address 
{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
a:link
{
color: gray;	
}

a:hover 
{
  color: black;
}

.container 
{
	text-align: center;
}

.chloegrad 
{
	width: 25%;
	height: auto;
}

input 
{
	text-align: center;	
}
header nav
{
	background-color: #E6E6FA;
	color: #808080;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
    float: center;
}


.topnav 
{
	background-color: #E6E6FA;
	color: #808080;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
    float: center;
}
nav a:hover 
{
	color: black;
}

nav a.active 
{
	color: black;
	font-weight: bold;
}
